In [1]:
import numpy as np
import pandas as pd

> Source: https://www.geonames.org/about.html

In [31]:
geoname = ["geonameid","name","asciiname","alternatenames","latitude","longitude","feature class","feature code","country code","cc2","admin1 code","admin2 code","admin3 code","admin4 code","population","elevation","dem","timezone","modification date"]
cities15000 = pd.read_table("cities15000.txt", sep="\t", header=None, names=geoname)

In [34]:
cities15000_sorted = cities15000[["name", "population", "latitude", "longitude"]].sort_values("population", ascending=False)[:10000]

In [40]:
cities15000_sorted

                   name  population  latitude  longitude
3731           Shanghai    22315474  31.22222  121.45806
4249            Beijing    18960744  39.90750  116.39723
3713           Shenzhen    17494398  22.54554  114.06830
4099          Guangzhou    16096724  23.11667  113.25000
20825          Istanbul    14804116  41.01384   28.94966
...                 ...         ...       ...        ...
9382    San José Pinula       47247  14.54600  -90.41288
24061  Mission District       47234  37.75993 -122.41914
14347              Meru       47226   0.04626   37.65587
20544              Tire       47220  38.08877   27.73508
3367            Hanwang       47205  34.19444  117.08333

[10000 rows x 4 columns]